@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <center><img src="~/images/moviemania.jpeg" height="300" width="300" /></center>

    <p class="lead">
        MovieMania is a web platform which you can watch Series, Movies, and Documentaries. <br />
    </p>

    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>




<div class="row">
    <div class="col-md-12">
        <h2>Become a member</h2>
        <p>
            Becoming a member is the most comprehensive model of watching all the content that you want paying a fixed
            value monthly you may watch all the catalog of MovieMania whenever you want.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Resiter &raquo;</a></p>
    </div>
    
    @*<div class="col-md-4">
        <h2>Rent</h2>
        <p>
            Renting is for those users that only want to watch a specific title for a determined couple of days,
            and do not want to keep committed to the monthly payment.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44394/Movies">Rent &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy</h2>
        <p>
            Sometimes we really like a movie and we need to have it for good, the best part is that even if the
            movie is not in the catalog anymore you will have it in your account..
        </p>
        <p><a class="btn btn-default" href="https://localhost:44394/Movies">Buy &raquo;</a></p>
    </div>
    *@

</div>

